<!-- a navigation menu (use the hashtag symbol ‘#’ as a placeholder for the hrefs) -->
<nav>
  <ul>
    <li class="plain-link"><a routerLink="/">Home</a></li>
    <li class="plain-link"><a routerLink="create-character">Create Character</a></li>
    <li class="plain-link"><a routerLink="create-guild">Create Guild</a></li>
    <li class="plain-link"><a routerLink="character-faction">Character Faction</a></li>
    <li class="plain-link"><a routerLink="players">Players</a></li>
    <li class="plain-link"><a routerLink="signin">Sign In</a></li>
  </ul>
</nav>
<!--a main content area (place the router outlet here) -->
<main>
  <router-outlet></router-outlet>
</main>
<!--a footer with another navigation menu (mirror your other navigation menu)-->
<footer>
  <nav>
    <ul>
      <li class="plain-link"><a routerLink="/">Home</a></li>
      <li class="plain-link"><a routerLink="create-character">Create Character</a></li>
      <li class="plain-link"><a routerLink="create-guild">Create Guild</a></li>
      <li class="plain-link"><a routerLink="character-faction">Character Faction</a></li>
      <li class="plain-link"><a routerLink="players">Players</a></li>
      <li class="plain-link"><a routerLink="signin">Sign In</a></li>
    </ul>
  </nav>
</footer>
