<!-- a navigation menu (use the hashtag symbol ‘#’ as a placeholder for the hrefs) -->
<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Character Build</a></li>
    <li><a href="#">About</a></li>
  </ul>
</nav>
<!--a main content area (place the router outlet here) -->
<main>
  <router-outlet></router-outlet>
</main>
<!--a footer with another navigation menu (mirror your other navigation menu)-->
<footer>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Character Build</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</footer>
